{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "asset\css\bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "C:\my_django1\bootstrap11\asset\css\style1.css" %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
     
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12 mt-2">
                <nav class="navbar navbar-expand-lg text-bg-info p-3">
                <div class="container-fluid">
                    <img src="{% static "asset\images\logo.jpeg" %}"width="80px" height="50px" alt="sp logo" title="SP Creation" class="bg"/>
                    <a class="navbar-brand" href="/"><b>Creation</b></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/viewcart">Cart</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        {% else %}

                         <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                        </li>
                         <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                        </li>
                        {% endif %}

                    </ul>
                    </div>
                </div>
                </nav>

            </div><!--nav div col end-->

        </div><!--nav div row end-->
        <!--navbar end-->
